* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  overflow: auto;
  min-width: 1140px;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.header {
  background-color: #f7fafc;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Upper Header*/
  /* Navigation*/
}

.nav {
  margin-top: 30px;
}

nav a {
  color: #ffffff;
  margin-left: 55px;
  font-size: 14px;
}

/* Logo */
.logo {
  font-family: Dosis;
  font-weight: 700;
  margin-top: 30px;
}

.logo > span {
  font-size: 36px;
}

/* Download-button */
.download-button {
  border-radius: 17px;
  background-color: #ffffff;
  color: #222222;
  padding: 12px 30px;
}

/* Offer */
.offer {
  margin-top: 120px;
  display: inline-block;
}

.offer h1 {
  font-size: 54px;
  font-family: Dosis;
  font-weight: 600;
  line-height: 60px;
}

.offer p {
  line-height: 24px;
}

.offer p i {
  margin-right: 20px;
}

.offer p:first-of-type {
  font-weight: 300;
}

.explore-button {
  background-color: #fff;
  border-radius: 20px;
  color: #222222;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 30px;
  border: 5px solid white;
  margin-top: 30px;
  margin-bottom: 214px;
  display: inline-block;
}

.explore-button:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 50px;
  }
  .iphones {
    z-index: -1;
  }
  .header {
    z-index: 1;
  }
  .offer {
    z-index: 2;
  }
}

.iphones {
  position: absolute;
  top: 240px;
  right: 0px;
}

.iphones img {
  position: absolute;
}

.iphones img:first-of-type {
  right: 0;
  opacity: 0.77;
}

.iphones img:nth-of-type(2) {
  position: relative;
  bottom: 57px;
  right: 0;
}

.iphones img:nth-of-type(3) {
  bottom: 105px;
  right: 355px;
}

.iphones img:nth-of-type(4) {
  bottom: 211px;
  right: 124px;
}

.iphones img:nth-of-type(5) {
  bottom: 294px;
  right: -102px;
}

/* Features */
.feature {
  margin-top: 120px;
  margin-bottom: 118px;
}

.feature i {
  position: relative;
  top: -50px;
  width: 75px;
  height: 75px;
  color: #f31f79;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  padding: 28px 20px 24px 27px;
  display: inline-block;
  font-size: 20px;
}

.feature-item {
  display: inline-block;
  width: 33%;
  height: 83px;
  margin-bottom: 58px;
}

.feature-text {
  width: 248px;
  margin-left: 17px;
  border: inherit;
  display: inline-block;
}

.feature-item p {
  margin: 0;
  margin-top: 20px;
  height: 45px;
  width: 256px;
  overflow: hidden;
  display: inline-block;
}

.feature-item h1 {
  line-height: 24px;
  font-size: 24px;
  font-family: Dosis;
  margin: 0;
  display: inline-block;
}

.device {
  position: relative;
  /* Style for "Device"*/
  width: 362px;
  height: 469px;
  margin-top: 120px;
}

.device__screen {
  position: absolute;
  top: 47px;
  left: 32px;
}

.device-shadow {
  position: absolute;
  top: -139px;
  left: -389px;
}

.price-description {
  text-align: center;
  margin-top: 118px;
}

.price-description h2 {
  color: #222222;
  font-family: Dosis;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
}

.price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-cards .price-cards__item {
  margin: 10px;
  width: 263px;
  height: 481px;
  background-color: #f7fafc;
  text-align: center;
}

.price-cards .price-cards__item .price-name {
  padding: 15px;
  font-family: Dosis;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.price-cards .price-cards__item .price {
  height: 120px;
  background-image: url(../img/bg.png);
  font-family: Dosis;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  font-size: 48px;
  padding: 30px;
}

.price-cards .price-cards__item .price sup {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: 2px;
}

.price-cards .price-cards__item .price sub {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: 10px;
}

.price-cards .price-cards__item .advantages {
  margin: 39px 30px 0 30px;
}

.price-cards .price-cards__item .advantages .advantage-item {
  border-bottom: 1px dashed  #dddcdc;
  margin: 5px;
  padding-bottom: 3px;
}

.price-cards .price-cards__item .advantages .advantage-item:last-child {
  border: none;
  margin-bottom: 40px;
}

.price-cards .price-cards__item .trial {
  color: #aaaaaa;
  margin-bottom: 10px;
}

.price-cards .price-cards__item .buy-button {
  display: inline-block;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  width: 139px;
  height: 40px;
  padding: 5px 32px 14px 32px;
  font-weight: 500;
}

.price-cards__item:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.price-cards__item:hover .price {
  background-image: url(../img/bg-hover.png);
  color: #ffffff;
}

.buy-button:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  cursor: pointer;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */