.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  background-color: #f7fafc;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  color: #ffffff;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

/* Upper Header */
    /* Navigation */
}
.nav {
  margin-top: 30px;
}
nav a {
  color: #ffffff;
  margin-left: 55px;
  font-size: 14px;
}
    /* Logo */
.logo {
  font-family: Dosis;
  font-weight: 700;
  margin-top: 30px;  
}
.logo > span {
  font-size: 36px;
}
    /* Download-button */
.download-button {
  border-radius: 17px;
  background-color: #ffffff;
  color: #222222;
  padding: 12px 30px;
}
/* Offer */
.offer {
  margin-top: 151px;
}
.offer h1 {
  font-size: 54px;
  font-family: Dosis;
  font-weight: 600;
  line-height: 60px;
}
.offer p {
  line-height: 24px;
}
.offer p i {
  margin-right: 20px;
}
.offer p:first-of-type {
  font-weight: 300;
}
.explore-button {
  background-color: #fff;
  border-radius: 20px;
  color: #222222;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 30px;
  border: 5px solid white;
  margin-top: 30px;
  margin-bottom: 214px;
  display: inline-block;
}
.explore-button:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}
